.bg-light-green{
    background: lightseagreen
}

.bg-pale{
    background: rgb(223, 138, 138);
}

.bg-darkblue{
    background: #553ddc
}
.text-transparent{
    color: transparent
}
.form-style{
    padding: .375em .75em;
    width: 100%
}
.mybtn{
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: .5em .75em
}

.mybtn:focus{
    border: 0;
    outline: 0;
    box-shadow: none !important
}

.bg-light-grey{
    background: #e2e4e6
}
.fancy-input{
    border: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: .6em .6em
}

.fancy-input:focus{
    outline: 0;
    box-shadow: none
}

.acc-holder{
    padding: 0;
    margin: 0;
    list-style: none;
}

.acc-holder li{
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold
}

.acc-holder li span{
    /* font-weight: bold; */
    
    color: rgb(141, 141, 141)
}
